@inherits LayoutComponentBase

<div class="empty-layout">
    @Body
</div>

<div id="blazor-error-ui" data-nosnippet>
    خطایی رخ داده است.
    <a href="." class="reload">بارگذاری مجدد</a>
    <span class="dismiss">🗙</span>
</div>
